header {
    display: flex;
    background-color: rgb(255, 225, 108);
    height: 8%;
}

.topLeft {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    border-color: transparent;
    outline: none;
}

/* https://www.tutorialrepublic.com/faq/how-to-change-the-cursor-into-a-hand-pointer-on-hover
-using-css.php#:~:text=You%20can%20simply%20use%20the,the%20default%20text%20selection%20cursor. */
.topLeft:hover, .clickableLT:hover, .taskIcon.xRH:hover, .rhBodyText:hover {
    cursor: pointer;
}

.logo {
    height: 100%;
    padding-inline-start: 0.5%;
    padding-right: 0.5%;
}

.menu, .menuDiv {
    height: 100%;
    margin-right: 0.5%;
}

.menuDiv {
    width: 0.25%;
    background-color: rgb(63, 55, 25);
}

.titleText {
    display: inline-flex;
    font-size: 6vh;
    color: rgb(63, 55, 25);
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.1em;
    -webkit-text-stroke: 0.5px rgb(167, 122, 32);
}

.topRight {
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: flex-end;
}

.topButton {
    height: 60%;
    width: 10%;
    margin-right: 2.5%;
    font-size: 2vh;
    color: rgb(255, 255, 255);
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-text-stroke: 0.25px rgb(255, 225, 108);
    background-color: rgb(167, 122, 32);
    border-color: rgb(63, 55, 25);
    border-width: 0.25vh;
    border-radius: 0.5vh;
    outline: none;
    align-items: center;
    justify-content: center;
}

.topButton:hover, .suliButton:hover {
    color: rgb(255, 225, 108);
    cursor: pointer;
}

.clickableLT:hover {
    color: rgb(167, 122, 32);
}

.line1px {
    display: block;
    height: 0.25vh;
    background-color: rgb(167, 122, 32);
}

.line3px {
    display: block;
    height: 0.5vh;
    background-color: rgb(63, 55, 25);
}

.suliForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suliMobile {
    flex-direction: column;
    align-items: center;
}

.ftText {
    font-size: 4vh;
    color: rgb(63, 55, 25);
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    letter-spacing: 0.1em;
    -webkit-text-stroke: 0.5px rgb(167, 122, 32);
    margin-top: 15vh;
    margin-bottom: 2.5vh;
}

.fbText, .aboutText {
    font-size: 2.25vh;
    color: rgb(63, 55, 25);
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.05em;
    margin-top: 3.5vh;
    margin-bottom: 1vh;
}

.fInput {
    height: 3vh;
    width: 15%;
    border-color: rgb(63, 55, 25);
    border-width: 0.125vh;
    border-radius: 0.5vh;
    font-size: 1.5vh;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(63, 55, 25);
    text-align: center;
    letter-spacing: 0.025em;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 0.75vh;
    padding-bottom: 0.75vh;
}

.fInput:focus {
    border-color: rgb(167, 122, 32);
    border-width: 0.25vh;
    outline: none;
}

.suliButton {
    height: 3.25vh;
    width: 7.5%;
    font-size: 2vh;
    color: rgb(255, 255, 255);
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-text-stroke: 0.25px rgb(255, 225, 108);
    background-color: rgb(167, 122, 32);
    border-color: rgb(63, 55, 25);
    border-width: 0.25vh;
    border-radius: 0.5vh;
    margin-top: 6vh;
    outline: none;
}

.aboutText {
    font-size: 3vh;
    font-weight: 400;
    margin-right: 10%;
}

/* https://www.w3schools.com/howto/howto_css_modals.asp */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: auto;
    top: 9.5%;
    width: 99.25%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(63, 55, 25); /* Fallback color */
    background-color: rgba(255, 225, 108, 0.2); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    width: 20%; /* Could be more or less, depending on screen size */
    background-color: rgb(63, 55, 25);
    height: 100%;
}

.rhContent {
    width: 95%;
    height: 97.5%;
    margin-top: 2.5%;
    background-color: rgb(167, 122, 32);
    border-color: rgb(63, 55, 25);
    border-width: 1%;
    border-style: solid;
}

.rhLI {
    color: rgb(255, 255, 255);
    margin-left: 2.5%;
}

.listTitle.rhText {
    color: rgb(255, 255, 255);
    margin-left: 2.5%;
    text-decoration: underline;
    text-decoration-color: rgb(255, 255, 255);
}

.listTitle.rhText.clickableLT:hover, .rhBodyText:hover {
    color: rgb(255, 225, 108);
}

.taskIcon.xRH {
    height: 4vh;
    position: absolute;
    right: 0%;
    margin-top: 0.5%;
    margin-right: 3%;
}

.modalButton, .modalSubButton {
    display: flex;
    height: 5vh;
    width: 97.5%;
    font-size: 2vh;
    color: rgb(63, 55, 25);
    font-weight: 500;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(255, 225, 108);
    outline: none;
    margin-top: 2.5%;
    padding-left: 2.5%;
    align-items: center;
}

.modalSubButton {
    width: 95%;
    margin-left: 2.5%;
    color: rgb(255, 255, 255);
    background-color: rgb(167, 122, 32);
    outline: none;
    margin-top: 2.5%;
    padding-left: 2.5%;
    align-items: center;
}

.loButton {
    display: none;
    position: fixed;
    left: auto;
    bottom: 0;
    width: 78%;
    color: rgb(255, 255, 255);
    background-color: rgb(167, 122, 32);
}

.tasklist {
    display: flex;
    flex-direction: column;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.listTitle {
    font-size: 4vh;
    color: rgb(63, 55, 25);
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1em;
    -webkit-text-stroke: 0.5px rgb(167, 122, 32);
    margin-top: 2.5vh;
}

.clickableLT {
    margin-top: 5vh;
    margin-bottom: 1.25vh;
}

.task {
    display: flex;
    flex-direction: row;
    height: auto;
    margin-bottom: 1.5vh;
    align-items: center;
}

.tText {
    margin-top: 0; 
    margin-bottom: 0;
}

.tInput {
    margin-left: 0.5%;
    width: 40%;
    height: fit-content;
    font-size: 2.25vh;
    text-align: left;
}

.buttonWrap {
    height: 3vh;
    width: 3vh;
    margin-left: 0.5%;
}

.taskButton {
    height: 3vh;
    width: 3vh;
    background-color: rgb(255, 255, 255);
    border-color: rgb(63, 55, 25);
    border-width: 0.125vh;
    border-radius: 0.5vh;
    outline: none;
    align-items: center;
    justify-content: center;
}

.taskIcon {
    height: 1.75vh;
}

.buttonWrap:hover .taskButton {
    border-color: rgb(167, 122, 32);
    border-width: 0.25vh;
}

.rhButton:hover .taskButton {
    border-color: rgb(255, 225, 108);
    cursor: pointer;
}

.cpContainer {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    align-items: center;
}

.centerpiece { height: 30%; }

.modalButton:hover, .modalSubButton:hover, .centerpiece:hover {
    cursor: pointer;
}

.cpText {
    font-size: 3vh;
    margin-top: 0vh;
}

.border {
    position: absolute;
    width: 9%;
    top: 10%;
    left: 90.7%;
}

.joinCode {
    display: flex;
    height: 5vh;
    width: 95%;
    margin-right: 2.5%;
    padding-left: 1%;
    position: fixed;
    left: auto;
    bottom: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(167, 122, 32);
    font-size: 2.5vh;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1em;
    align-items: center;
}

@media only screen and (max-width: 2150px) {
    .topButton { width: 15%; }
    .fInput { width: 20%; }
    .suliButton { width: 10%; }
    .cpText { font-size: 2.75vh; }
    .border {
        width: 13%;
        left: 86.7%;
    }
}

@media only screen and (max-width: 1450px) {
    .topButton { width: 20%; }
    .fInput { width: 25%; }
    .suliButton { width: 12.5%; }
    .cpText { font-size: 2.5vh; }
    .border {
        width: 16%;
        left: 83.7%;
    }
    .modal-content {width: 30%;}
    .aboutText { margin-right: 15%; }
}

@media only screen and (max-width: 1100px) {
    .topButton { width: 25%; }
    .fInput { width: 30%; }
    .suliButton { width: 15%; }
    .cpText { font-size: 2.25vh; }
    .border { display: none; }
    .modal-content {width: 40%;}
    .aboutText { margin-right: 5%; }
    .modal { width: 98.5%; }
    .rhContent {
        width: 93%;
        height: 96.5%;
        margin-top: 3.5%;
    }
    .taskIcon.xRH { margin-right: 4%; }
}

@media only screen and (max-width: 875px) {
    .topLeft { 
        width: 100%; 
        justify-content: center;
    }
    .wMenu {
        justify-content: flex-start;
    }
    .topRight { display: none; }
    .suliMobile { display: flex; }
    .topButton {
        width: 50%;
        height: fit-content;
        margin-right: 0%;
        font-size: 2.5vh;
        font-weight: 400;
        border-width: 0.25vh;
        border-radius: 0.5vh;
        padding: 0.75vh;
        margin-top: 5vh;
        margin-bottom: 2vh;
    }
    .fInput { width: 60%; }
    .suliButton { width: 30%; }
    .centerpiece { 
        height: 10vh;
        margin-top: 10vh; 
    }
    .cpContainer { display: none; }
    .modal-content {width: 80%; }
    .loButton { display: flex; }
    .aboutText { margin-right: 0; }
    .buttonWrap { margin-left: 2.5%; }
    .taskIcon { height: 1.2vh; }
    .buttonWrap:hover .taskButton { border-width: 0.125vh; }
    .tInput { 
        padding-Left: 1.25%;
        width: 70%; 
    }
    .modal { width: 96%; }
    .rhContent {
        width: 90%;
        height: 95%;
        margin-top: 5%;
    }
    .taskIcon.xRH { margin-right: 5.5%; }
    .listTitle.rhText { margin-top: 20%; }
}

@media only screen and (max-width: 875px) and (min-height: 1024px) {
    .modal { width: 97.75%; }
}